h2 {
    font-size: 20px;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ffec99;
    background-color: #ffec99;
    box-sizing: border-box;
}

.add-cust{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.button-add-cust {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;               
    justify-content: flex-end;   
    gap: 10px;                
}

#btn-cancel, #btn-add {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#btn-cancel {
    background-color: #ff7a7a;
    width: 20%;
}

#btn-update {
    background-color: #12b800;
    width: 20%;
}

input::placeholder {
    color: #b37d00;
    font-style: italic;
}

p {
    font-size: 12px;
    margin-bottom: -5px;
}