.text-bold-64 {
  font-weight: bold;
  font-size: 64px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.notification-icon {
  width: 60px; 
  height: 60px;
  object-fit: cover; 
}
.transparent-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 10px;
  cursor: pointer;
}
.margin-top-big{
  width: 90%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.home-table {
  width: 100%;
  max-width: 1000px;
  margin: auto auto;
  border-collapse: collapse;
}

.body-table {
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
}

.home-table th, .home-table td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.home-table th {
  background-color: #FFC131;
  color: #333;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  font-family:'Courier New', Courier, monospace;
}

.home-table tr:nth-child(even) {
  background-color: #f9f9f9;
  
}

.home-table tr:hover {
  background-color: #f1f1f1;
}

.home-top-big {
  margin-top: 30px;
}


.justify-center {
  display: flex;
  justify-content: center; 
  align-items: center;
  /* gap: 10px; */
}
  
button {
  padding: 10px 20px; 
  background-color: #FFC131;
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
  background-color: #FFC131; 
  transform: scale(1.05); 
}

button:disabled {
  background-color: #CCCCCC; 
  cursor: not-allowed; 
}

#page-number {
  font-size: 18px; 
  font-weight: bold;
  margin: 0 10px; 
}

button + span, button + button {
  margin-left: 10px; 
}

.status-btn.available {
  background-color: #4CAF50; 
  color: white;
}

.status-btn.reserved {
  background-color: #f44336; 
  color: white;
}

.status-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

#activity-list {
  width: 100%;
  margin: 50px auto;
  border-collapse: collapse;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
