.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: col;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.car-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFE987;
    border-radius: 20px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border-radius: 7px;
    background-color: #FFC131;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20x;
    margin: 20px;
}

.select-box {
    width: 150px;
    padding: 3px;
    border-radius: 7px;
    border: 1px solid rgb(206, 202, 202);
    margin: 7px;
}

.left-item {
    display: flex;
    gap: 20px;
}

.search-button {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    margin-top: 5px;
}

#car-search {
    color : black;
}

#car-search:hover {
    color: #CCCCCC;
}

.search-button button {
    align-items: center;
    justify-content: center;
    background-color: #463B96; 
    border: none;
    padding: 5px;
    width: 150px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.search-button:hover button{
    background-color:#6054bc;
    color: white;
}

.car-components {
    padding: 20x;
    margin: 20px;
}

.add-car-button button {
    align-items: center;
    justify-content: center;
    background-color: #463B96; 
    border: none;
    padding: 10px;
    margin: 25px;
    border-radius: 50%;
    cursor: pointer;
    width: 75px; 
    height: 75px; 
    position: fixed;
    bottom: 0;
    right: 0;
}

.add-car-button button:hover {
    background-color: #FFC131; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.nama-mobil {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4px;
}

.harga {
    background-color: #ffec99;
    width: 125px;
    border-radius: 20px;
    text-align: center;
    padding: 4px;
    margin-top: 5px;
}

.keterangan {
    display: flex;
    flex-direction: column;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.right-content {
    display: flex;
    flex-direction: column;
}

.status-card {
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: bold;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.status-ongoing {
    background-color: #FF7A7A;
}

.status-available {
    background-color: #4AC4AC;
}

.button-space {
    display: flex;
    flex-direction: row;
}

.action-button {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    margin-top: 5px;
}

.action-button button {
    align-items: center;
    justify-content: center;
    background-color: #ffec99; 
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
    height: 40px; 
    transition: background-color 0.3s ease; 
}

.action-button:hover button{
    background-color: #4ac4ac;
}

.car-image {
    display:flex;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    object-fit: cover;
}


.car-card {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: #FFC131;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.car-image:hover img {
    transform: scale(1.15);
}

.car-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.car-card {
    flex: 0 0 calc(50% - 10px);
    margin: 0 5px;
    box-sizing: border-box;
    background: #FFC131;
    border: 1px solid #ddd; 
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
}

button {
    padding: 10px 20px; 
    background-color: #FFC131; 
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }

  button:hover {
    background-color: #FFC131; 
    transform: scale(1.05); 
  }

  button:disabled {
    background-color: #CCCCCC; 
    cursor: not-allowed; 
  }

  #page-number {
    font-size: 18px; 
    font-weight: bold;
    margin: 0 10px;
  }
  
  button + span, button + button {
    margin-left: 10px; 
  }
  .justify-center {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

/* p {
    font-size: 12px;
    margin-bottom: -5px;
} */