.add-car-container {
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.add-car-left {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column; 
}

.add-car-right {
    flex: 3; 
    padding: 20px;
    display: flex;
    flex-direction: column; 
}

.add-car-left div, .add-car-right div {
    margin-bottom: 15px;
}

h1 {
    font-size: 18px;
    margin-bottom: 8px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ffec99;
    background-color: #ffec99;
    box-sizing: border-box;
}

#no-file-text {
    display: hidden;
}

.button-add-car {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#btn-cancel{
    width:40%;
    flex: 8; 
    padding: 10px;
    margin-right: 4%;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #ff7a7a; 
    cursor: pointer;
    flex: 1;
}

#btn-add {
    width: 87%;
    flex: 2; 
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #12b800; 
    cursor: pointer;
}

/* input::placeholder, input[type="file"]::placeholder {
    color: #b37d00; 
    font-style: italic;
} */

/* input[type="file"] {
    height: 22rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
} */

/* 
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden; 
} */


.containerr {
    text-align: center;
    background-color: #ffec99;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#car-image-preview {
    max-width: 300px;
    max-height: 300px;
    margin-top: 40px;
    border: 2px solid #ddd;
    border-radius: 8px;
    object-fit: cover;
}

#file-input {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

p {
    font-size: 12px;
    margin-bottom: -5px;
}