<div id="sidebar">
    <nav>
        <a href="#/">
            <img src="public/history.png" alt="History Icon" width="40" height="40" style="vertical-align: middle;"> History
        </a>
        <a href="#/customer">
            <img src="public/user.png" alt="User Icon" width="40" height="40" style="vertical-align: middle;"> Customer
        </a>
        <a href="#/car">
            <img src="public/car.png" alt="Car Icon" width="40" height="40" style="vertical-align: middle;"> Car
        </a>
        <a href="#/report">
            <img src="public/report.png" alt="Report Icon" width="40" height="40" style="vertical-align: middle;"> Report
        </a>
    </nav>
</div>
