.flex-col {
    display: flex;
    flex-direction: column;
}
.background-yellow {
    margin-top: 20px;
    background-color: #FFEC99;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.info-customers {
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #ffc131;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.info-left {
    height: auto;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-right {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.contact{
    display: flex;
    margin-top: 5px;
    align-items: center;
}
.contact a{
    font-size: 15px;
}

.info-left-cust h1 {
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.status p {
    padding: 10px;
    border-radius: 30px;
}
.status-card {
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom:20px;
    font-weight: bold;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.status-active {
    background-color: #FF7A7A;
}

.status-inactive {
    background-color: #4AC4AC;
}
.actions button {
    align-items: center;
    justify-content: center;
    background-color: #ffec99;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    width: 60px; 
    height: 40px; 
    transition: background-color 0.3s ease;
}

.actions button:hover {
    background-color: #4ac4ac;
}

.actions button img {
    vertical-align: middle;
    pointer-events: none;
}

.text-header{
    font-size: 36px;
    font-weight: bold;
}
.customer-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFE987;
    border-radius: 20px;
}
.add-customer-button button {
    align-items: center;
    justify-content: center;
    background-color: #463B96;
    border: none;
    padding: 10px;
    margin: 25px;
    border-radius: 50%;
    cursor: pointer;
    width: 75px; 
    height: 75px;
    position: fixed;
    bottom: 0;
    right: 0;
}

button {
padding: 10px 20px;
background-color: #FFC131; 
color: white;
border: none; 
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
background-color: #FFC131; 
transform: scale(1.05);
}

button:disabled {
background-color: #CCCCCC;
cursor: not-allowed;
}

#page-number {
font-size: 18px;
font-weight: bold;
margin: 0 10px; 
}


button + span, button + button {
margin-left: 10px;
}
  

#customer-pagination {
    margin-top: 10px;
    margin-bottom: 20px;;
}